@import "../../styles/vars";
@import "../../styles/mixins";

.textarea {
  @include input-none;
  width: 100%;
  padding: 7px;
  border: 1px solid $border-color;
  border-radius: 3px;
  resize: vertical;
}
