@import "../../styles/vars";
@import "../../styles/mixins";

.profile {
  max-width: 950px;
  width: 100%;
  margin: 54px auto 0;
  padding: 0 12.5px;
  &__top {
    display: flex;
    align-items: flex-start;
    padding: 34px;
    border-bottom: 1px solid $border-color;
    .profile__avatar {
      margin: 0 80px 0 40px;
      &--withborder {
        position: relative;
        cursor: pointer;
        z-index: 3;
      }
      &-border {
        position: absolute;
        left: -5.5px;
        right: 0;
        top: -5.5px;
        bottom: 0;
      }
    }
    &-content {
    }
    &-username {
      display: flex;
      align-items: center;
      font-size: 28px;
      font-weight: 300;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      .profile-follow__button {
        font-size: 14px;
        margin-left: 20px;
      }
      .edit-profile__button {
        font-size: 14px;
        margin-left: 10px;
      }
    }
    &-actions-list {
      display: flex;
      padding: 23px 0;
    }
    &-actions-item {
      cursor: pointer;
      span:first-child {
        font-weight: 700;
        padding-right: 5px;
      }
      margin-right: 40px;
    }
    &-fullname {
      font-size: 16px;
      font-weight: 500;
    }
    &-about {
      width: 330px;
      margin-top: 2px;
      font-size: 16px;
      line-height: 24px;
      word-wrap: break-word;
    }
  }
  &__bottom {
    &-navigation {
      display: flex;
      justify-content: center;
      ul {
        display: flex;
        li {
          a {
            display: flex;
            align-items: center;
            margin-right: 50px;
            padding-top: 16px;
            &.item-active {
              position: relative;
              &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                height: 1px;
                background: $black;
                z-index: 2;
              }
              path {
                color: $black;
              }
              span {
                color: $black;
              }
            }
            svg {
              path {
                color: $light-grey;
              }
              font-size: 16px;
            }
            span {
              margin-left: 4px;
              font-size: 13px;
              text-transform: uppercase;
              color: $light-grey;
            }
          }
        }
      }
    }
  }
}

.unauth-modal {
  width: 400px;
  border-radius: 15px;
  background: $white;
  padding: 30px 0 0;
  h3 {
    font-size: 22px;
    text-align: center;
    font-weight: 500;
  }
  a {
    display: block;
    height: 37px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-left: 15px;
    border-top: 1px solid $border-color;
    text-align: center;
    line-height: 37px;
    font-size: 18px;
    color: $blue;
  }
}

.unfollow-modal {
  width: 400px;
  border-radius: 15px;
  background: $white;
  &__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .avatar-wrapper {
      margin: 30px 0;
    }
    span {
      margin-bottom: 30px;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    border-top: 1px solid $border-color;
    .button {
      width: 100%;
      padding: 15px 0;
      font-size: 15px;
    }
  }
}