@import "./vars";
@import "./mixins";

.page-common {
  max-width: 700px;
  width: 100%;
  margin: 80px auto;
  padding: 25px 0;
  border: 1px solid $border-color;
  background: $white;

  &__title {
    text-align: center;
    font-weight: 400;
  }

  &__file-input {
    padding: 20px 50px;
  }

  .create-post__preloader {
    margin-top: 20px;
    margin-left: 260px;
  }

  .submit-button {
    margin-top: 20px;
    margin-left: 248px;
  }

  &-form__item {
    margin-top: 20px;

    &-inner {
      display: flex;
    }

    &-label {
      width: 220px;
      margin-right: 27px;
      text-align: right;
      line-height: 37px;
      font-weight: 500;
    }

    &-extra-text {
      width: 355px;
      margin-top: 10px;
      margin-left: 248px;
      font-size: 12px;
      color: $light-grey;

      span {
        display: block;
        font-weight: 600;
        color: $light-grey;
      }
    }

    .input__wrapper {
      width: 355px;
      margin-top: 0;
      background: $white;
    }

    .textarea {
      width: 355px;
      height: 70px;
    }
  }
}

.container {
  margin-top: 54px;
}

.empty-app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  svg {
    font-size: 60px;
    transform: translateY(-50%);

    path {
      color: $light-grey;
    }
  }
}

.button {
  @include button-none;
  display: block;
  padding: 6px 10px;
  color: $blue;
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.1s;

  &:disabled,
  &:active {
    color: rgba($blue, 0.6);
  }

  &:disabled {
    cursor: auto;
  }
}

.primary-button {
  background: $blue;
  color: $white;

  &:disabled,
  &:active {
    color: rgba($white, 0.8);
    background: rgba($blue, 0.3);
  }
}

.secondary-button {
  background: none;
  color: $black;
  border: 1px solid $border-color;

  &:disabled,
  &:active {
    color: rgba($black, 0.8);
  }
}
