@import "../../styles/mixins";
@import "../../styles/vars";

.unauthorized-notification {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 55px;
  background: rgba($black, 0.9);
  backdrop-filter: blur(3px);
  z-index: 11;

  &__inner {
    @include flex-sb;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;

    & > div {
      display: flex;
      align-items: center;
    }

    &-content {
      display: flex;
      flex-direction: column;
      margin-left: 20px;

      h3 {
        font-size: 14px;
        font-weight: 500;
        color: $white;
      }

      p {
        display: inline-block;
        margin-top: 8px;
        font-size: 14px;
        color: $white;
      }
    }

    &-actions {
      display: flex;
      flex-direction: column;

      .button {
        &:first-child {
          margin-bottom: 10px;
        }

        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  &__close-button {
    @include button-none;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;

    svg {
      path {
        stroke: $light-grey;
      }
    }
  }

  .instagram-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 3px solid $white;
    border-radius: 50%;

    svg {
      font-size: 45px;

      path {
        color: $white;
      }
    }
  }
}
