@import "../../../../styles/vars";
@import "../../../../styles/mixins";

.post-actions {
  @include flex-sb;
  padding: 7px 15px 0;

  &__left,
  &__right {
    button {
      @include button-none;

      svg {
        margin-right: 7px;
        font-size: 24px;
        cursor: pointer;
      }
    }
  }
}

.likes-count {
  margin: 7px 0 7px 15px;
  font-weight: 500;
}

.post__date {
  padding-left: 15px;
  font-size: 12px;
  color: $light-grey;
}

.liked {
  path {
    color: $red;
  }
}
