@import "../../styles/vars";
@import "../../styles/mixins";

.user-item {
  display: flex;
  align-items: center;

  &__data {
    display: flex;
    flex-direction: column;
    margin-left: 15px;

    &-name {
      color: $black;
    }

    &-fullname {
      color: $light-grey;
    }
  }
}
