@import "../../styles/vars";

.arrow {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transform: translateY(-50%);
  border: none;
  background: rgba(#262626, .6);
  z-index: 1;
  cursor: pointer;
  transition: background-color, .3s;
  outline: none;
box-shadow: 0 0 4px $light-grey;
  &:hover {
    background: rgba(#262626, .7);
  }

  div {
    width: 7px;
    height: 7px;
    border-top: 3px solid rgba($white, .9);
    border-right: 3px solid rgba($white, .9);
    border-radius: 1px;
  }

  &--left {
    left: 15px;

    div {
      transform: rotate(-130deg);
    }
  }

  &--right {
    right: 15px;

    div {
      transform: rotate(45deg);
    }
  }
}